*{
  box-sizing: border-box;
}
body {
    font-size: xx-large;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: #dedede;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
  color: rgba(240, 248, 255, 0.521);
  background-color: black;
}
.wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  height: max(90vh, 650px);
  width: 100vw;
  max-width: 600px;
  width: 100vw;
}
.wrapper>*{
  margin-bottom: 10px;
  
  
}
.input{
  font-size: x-large;
  max-width: 110px;
  border-radius: 10px;
  border-color: black;
  border: 1px black;
}
.input:auto-fill{
  background-color: white;
}
.inputs{
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}



.inputLine{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 2vw;
}
.inputs{
  display: flex;
  align-items: center;
  max-width: 100%;
  flex-direction: column;
}

#tiles{
  display: inline-block;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  box-sizing: border-box;
  padding: min(10vh, 15px);
  max-width: 100%;
}
.tile{
  border: 2px solid whitesmoke;
  margin-right: 3vw;
  position: relative;
  max-width: 20vh;
  max-height: 20vh;
  color: #ffc055;
  font-weight: 700;
  transition: font-size 1s;
}
.tile:focus{
  font-size: large;
}
.tile__s{
  font-weight: 100;
  color: #8e8e8e;
  font-size: smaller;
}
.tile__deleteBtn{
  height: 25px;
  width: 25px;
  position: absolute;
  top: 0px;
  right: 0px;
  background: transparent;
  border: none;
}
#btnShowAddTile{
  min-width: 50px;
}

#btn_calc{
  min-height: 70px;
  min-width: 160px;
  color: #adadad;
  border: 3px solid #777;
  padding: 10px 20px;
  font-weight: 800;
  border-radius: 10px;
  font-size: x-large;
  cursor: pointer;
}

#btn_calc:active{
  background-color: #333;
  color: #fff;
}
#result{
  font-size: larger;
}

